asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
crispy-bootstrap5==2024.2 ; python_version >= "3.12" and python_version < "4.0"
django-components==0.84 ; python_version >= "3.12" and python_version < "4.0"
django-crispy-forms==2.2 ; python_version >= "3.12" and python_version < "4.0"
django-environ==0.11.2 ; python_version >= "3.12" and python_version < "4"
django-extensions==3.2.3 ; python_version >= "3.12" and python_version < "4.0"
django-htmx==1.18.0 ; python_version >= "3.12" and python_version < "4.0"
django-lifecycle==1.2.4 ; python_version >= "3.12" and python_version < "4.0"
django-taggit==5.0.1 ; python_version >= "3.12" and python_version < "4.0"
django-template-partials==24.2 ; python_version >= "3.12" and python_version < "4.0"
django==5.0.7 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
