{% load static component_tags %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myproj</title>
  <link rel="stylesheet" href="{% static 'bootstrap/5.3.3/css/bootstrap.min.css' %}">
  {% component_css_dependencies %}
</head>
{# htmx 요청에서 자동으로 요청 헤더에 csrf token 전송 #}
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  {% if debug %}
  <script src="{% static 'htmx/2.0.0/htmx.js' %}"></script>
  {% else %}
  <script src="{% static 'htmx/2.0.0/htmx.min.js' %}"></script>
  {% endif %}
  <script src="{% static 'htmx/ext/hx-get-with-timestamp.js' %}"></script>
  <script src="{% static 'toast-messages.js' %}"></script>
  <script src="{% static "bootstrap/5.3.3/js/bootstrap.min.js" %}"></script>
  {% component_js_dependencies %}

  {% include "_messages_as_event.html" %}
  <h1>프로젝트</h1>
  
  {% block content %}{% endblock content %}

  <hr />
  &copy; demo
 
  {% block script %}{% endblock script %}
</body>
</html>