.carousel-component .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* 이미지 드래그 비활성화 */
.carousel-component img {
  user-select: none;
  pointer-events: none;
}
